/* body{
    cursor: none;
  } */

/* .circleCursor {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    pointer-events: none;
} */

/* 
a:hover {cursor: none} 
 */